#sectionheader  {
	font-size: 15px;
	color:#a58500;
	margin: 0 0 .5em;
	padding: 0;
	font-family: Verdana,Arial,sans-serif;
	font-weight:bold;
}
#header {
	color: #202020;
	font-size: 17px;
	font-weight: normal;
	padding-bottom: 0;
	font-family: Verdana,Arial,sans-serif;
}
#findList {
	border-collapse: collapse;
	width: 100%;display: table;
	border-spacing: 2px;
	border-color: gray;
	font-family: Verdana,Arial,sans-serif;
	color: #333;
	font-size: 13px;
}
#findResult_odd {
	background-color: #f6f6f5;
	border: #fff 1px solid;
	display: table-row;
	border-spacing: 2px;
	padding: 20px
}
#findResult_even {background-color: #fbfbfb;border: #fff 1px solid;display: table-row;padding: 20px}
body {
	background: #ECECEC;padding: 5px 0;
}
#wrapper {margin: 0 auto; width: 900px; height: auto;  padding: 10px; background: white;}
#result_Text {color: #3366FF;font-size: 13px;font-weight: normal;padding-bottom: 0;font-family: Verdana,Arial,sans-serif;}
#error_Text {font-size: 13px;font-weight: normal;padding-bottom: 0;font-family: Verdana,Arial,sans-serif;}
#image_header {height: 80px; margin: 0px 0 0 0; background-image: url(movies_banner.jpg);}
#info_header {color: #202020;font-size: 27px;font-weight: normal;padding-bottom: 0;font-family: Verdana,Arial,sans-serif;}
#Info_Text {font-size: 17px;font-weight: normal;padding-bottom: 0;font-family: Verdana,Arial,sans-serif;}
#year_col {float: right;text-align: right;font-size: 13px;font-family: Verdana,Arial,sans-serif;font-weight: normal;color: #000000}
#movieInfo_odd {color: #3366FF;vertical-align: middle;padding: 5px 10px 6px;background-color: #f6f6f5;border: #fff 1px solid;display: block;}
#movieInfo_even {color: #3366FF;vertical-align: middle;padding: 5px 10px 6px;background-color: #fbfbfb;border: #fff 1px solid;display: block;}
#header2 {box-shadow: 10px 10px 5px #888888;background-color: #Eee;border-top: #e8e8e8 1px solid;cursor: pointer;font-size: 15px;color: #a58500;margin: 0 0 1px 0;padding: 6px 10px;display: block;font-family: Verdana,Arial,sans-serif;}
#radio_header {padding-left: 220px}
input_fields {
		font-size: 12px;
		font-weight: normal;
		padding-bottom: 0;
		font-family: Verdana;
	}